<div class='container' ng-selectsubject>
  <div class='jumbotron'  ng-controller='selectSubjectController'>
    <h3>Select a Subject</h3>
    <div ng-if="!options.estimate"class="list-group col-md-4 fx-fade-left fx-speed-500 fx-easing-back">
      <h2> I want to practice...  </h2>
      <a ng-repeat="subject in subjects"  href="#" ng-click="options.subject=subject[0]" class="list-group-item">
        {{ subject[0] }}
        <span class="glyphicon glyphicon-menu-right right" aria-hidden="true"></span>
      </a>
    </div>
    
    <div ng-if="options.subject && !options.estimate" class="list-group col-md-4 fx-fade-left fx-speed-500 fx-easing-back">
      <h2> My skill level is...  </h2>
      <a ng-repeat="level in levels"  href="#" ng-click="options.level=level[1]" class="list-group-item">
        {{ level[0] }}
        <span class="glyphicon glyphicon-menu-right right" aria-hidden="true"></span>
      </a>
    </div>
    <div ng-if="options.subject && options.level && !options.estimate" class="list-group col-md-4 fx-fade-left fx-speed-500 fx-easing-back">
      <h2> I expect that my problem will take...  </h2>
      <a ng-repeat="estimate in estimates" ui-sref="videochat" ng-click="options.estimate=estimate[1]" class="list-group-item">

        {{ estimate[0] }}
        <span class="glyphicon glyphicon-menu-right right" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</div>