<div class='container' ng-selectsubject>
  <div class='jumbotron'  ng-controller='selectSubjectController'>
    <h3>Select a Subject</h3>
    <div ng-if="!language.level"class="list-group col-md-4 fx-fade-left fx-speed-500 fx-easing-back">
      <h2> I want to practice...  </h2>
      <a ng-repeat="lang in languages"  href="#" ng-click="language.subject=lang[0]" class="list-group-item">
        {{ lang[0] }}
        <span class="glyphicon glyphicon-menu-right right" aria-hidden="true"></span>
      </a>
    </div>
    
    <div ng-if="language.subject && !language.level" class="list-group col-md-4 fx-fade-left fx-speed-500 fx-easing-back">
      <h2> My skill level is...  </h2>
      <a ng-repeat="level in levels"  href="#" ng-click="language.level=level[1]" class="list-group-item">
        {{ level[0] }}
        <span class="glyphicon glyphicon-menu-right right" aria-hidden="true"></span>
      </a>
    </div>
    <div ng-if="language.subject && language.level && !language.estimate" class="list-group col-md-4 fx-fade-left fx-speed-500 fx-easing-back">
      <h2> I expect that my problem will take...  </h2>
      <a ng-repeat="estimate in estimates"  href="#" ng-click="language.estimate=estimate[1]; submitLanguages(language);" class="list-group-item">
        {{ estimate[0] }}
        <span class="glyphicon glyphicon-menu-right right" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</div>