/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.right {
  float:right;
}

.left { 
  float:left;
}

.inline {
  display: inline;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#chatBox {
  padding-left: 15px;
  height: 200px;
  width: 800px;
}

#chatMsg {
  padding-left: 15px;
  width: 600px;
}


#localVideo {
  width: 160px;
  height: 120px;
}

.foreignVideo {
  width: 640px;
  height: 480px;
}