/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.right {
  float:right;
}

.left {
  float:left;
}

#localVideo {
  width: 160px;
  height: 120px;
}

.foreignVideo {
  width: 640px;
  height: 480px;
}