<!DOCTYPE html>
<html ng-app='languageApp'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- inject:css -->
  <link rel="stylesheet" href="/client/css/bower.css">
  <!-- endinject -->

  <script type='text/javascript' src='http://cdn.icecomm.io/icecomm.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- inject:js -->
  <script src="/client/js/vendors.js"></script>
  <script src="/client/js/app.js"></script>
  <!-- endinject -->
</head>
<body ng-controller='selectLanguageController'>

   <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Language Exchange</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><button type="button" class="btn btn-success navbar-btn">Sign in</button></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 ng-if="!language.desired">Talk French with a Frenchman.</h1>
        <p ng-if="!language.desired">Language Exchange instantly connects you with other language learners so you can practice together.<br>
          Trade your English conversation for their French.</p>
          
        <p ng-if="language.desired">What do you like to do with your free time?</p>
       
        <br>
      
        <div ng-if="!language.desired"class="list-group col-md-4 fx-fade-left fx-speed-500 fx-easing-back">
          <h2> I want to practice...  </h2>
          <a ng-repeat="lang in languages"  href="#" ng-click="language.native=lang[0]" class="list-group-item">
            <span class="flag-icon flag-icon-{{ lang[1] }}"></span>
            {{ lang[0] }}
            <span class="glyphicon glyphicon-menu-right right" aria-hidden="true"></span>
          </a>
        </div>
        <div ng-if="language.native && !language.desired" class="list-group col-md-4 fx-fade-left fx-speed-500 fx-easing-back">
          <h2> My native language is...  </h2>
          <a ng-repeat="lang in languages"  href="#" ng-click="language.desired=lang[0]; submitLanguages(language);" class="list-group-item">
            <span class="flag-icon flag-icon-{{ lang[1] }}"></span>
            {{ lang[0] }}
            <span class="glyphicon glyphicon-menu-right right" aria-hidden="true"></span>
          </a>
        </div>

        <div id="videos" ng-show="language.desired">
          <div id='myVideo' class="inline">
            <video id='localVideo' autoplay></video>
          </div>
        </div>

        <br>

        <form class="form-horizontal" id='chatApp' ng-show='showChatApp'>
          <div class="form-group">
            <textarea class="form-control" id='chatBox' readonly ng-model='convo'></textarea><br>
            <input class="form-control inline" id='chatMsg' type='text' ng-keypress='handleKeyPress($event)' ng-model='msg'>
            <button class="btn btn-primary inline" ng-click='sendMsg()'>Send</button>
          </div>
        </form>
      </div>

    </div>

    <div class="container">
      <hr>

      <footer>
        <p>&copy; Language Exchange, Inc. 2014</p>
      </footer>
    </div> <!-- /container -->
</body>
</html>
